#root {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    height: inherit;
}

#root:has(.menu-mobile--open) .main {
    position: fixed;
}

#root:has(.menu-mobile--open) .form-container {
    opacity: 0;
    visibility: hidden;
}
#root:has(.menu-mobile--open) .ovly,
#root:has(.dropdown-task.open) .ovly,
#root:has(.task-form:not(.collapse)) .ovly {
    height: 100dvh;
    width: 100dvw;
}
#root:has(.menu-mobile--open) .ovly,
#root:has(.dropdown-task.open) .ovly {
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 200;
}
#root:has(.menu-mobile--open) .ovly{
    z-index: 0;
}
#root:has(.task-form:not(.collapse)) .ovly {
    background-color: rgba(249, 245, 244, 1);
    z-index: 100;
}

.ovly {
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    height: 0%;
    width: 0%;
    transition: background-color 300ms linear;
}

.project-icon {
    width: 15px;
    height: 15px;
}

.intro-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100dvh;
    padding: 1.5em;

}

.intro-container::before {
    content: '';
    position: absolute;
    z-index: -100;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url(assets/intro.webp);
    background-size: contain;
    background-repeat: no-repeat;
}

.intro-container>header {
    padding: 6em;
    padding-inline: .5em;
}

.intro-container>header h1 {
    font-size: 2.25rem;
}

.intro-container>form {
    margin-right: -1.5em;
}

.intro-container>form fieldset {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border: transparent;
    padding-block-end: .85em;
    margin-bottom: 2.125em;
}

.intro-container>form legend {
    color: var(--brown-color);
    font-size: .75rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 1.35em;
    padding-inline: 1.35em;
}

.intro-container>form .label-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
    column-gap: 1em;
    row-gap: .75em;
    max-width: 300px;
    height: fit-content;
    text-overflow: ellipsis;
}

.intro-container>form label {
    background-color: #F3EFEE;
    font-size: 1.06rem;
    padding: 0.706em 1.176em;
    text-transform: capitalize;
    border-radius: 0.706em;
    text-wrap: nowrap;
    font-weight: 600;
    border: 2px solid transparent;
    transition: all .2s ease-in-out;

}

.intro-container>form label:has(> input[type=radio]:checked) {
    border-color: rgb(84, 58, 20);
    background-color: #ede2d5;
}

.intro-container>form input[type=radio] {
    appearance: none;
    -webkit-appearance: none;
}

.intro-container>form button {
    border: transparent;
    background-color: #393433;
    font-size: 1.125rem;
    border-radius: 0.667em;
    width: 100%;
    padding: 0.778em 1.167em;
    margin-left: -1.5em;
}

.menu {
    --menu-width: 325px;
    background-color: #F3EFEE;
    position: absolute;
    height: 100dvh;
    width: 0;
    max-height: 100dvh;
    overflow: auto;
    padding-inline: 1.8em 1.265em;
    padding-block: 2.5em;
    margin-bottom: 1.5em;
    left: -150%;
    z-index: 1;
    transition: left 550ms cubic-bezier(0.39, 0.58, 0.57, 1), width var(--_ts-duration, 550ms) cubic-bezier(0.39, 0.58, 0.57, 1);
}

.menu-mobile--open {
    --_ts-duration: 0ms;
    left: 0;
    width: var(--menu-width);
    border-radius: 0 1em 1em 0;
}

.menu .menu-btn {
    display: flex;
    position: fixed;
    top: 1.5em;
    left: 1.5em;
    z-index: 99;
    background-color: transparent;
    border: none;
    height: fit-content;
    padding: 0;
    margin-bottom: 1em;
    transition: left 350ms cubic-bezier(0.39, 0.58, 0.57, 1) var(--left-delay, 0ms);
}

.menu-mobile--open .menu-btn {
    --left-delay: 200ms;
    left: calc(var(--menu-width) - 3.888em);
}

.line {
    fill: none;
    stroke: #121212;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.menu-btn.expand .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.menu-btn.expand .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.menu-btn.expand .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.menu-mobile--open>div {
    left: 0;
}

.menu>div .link--wrapper {
    text-align: center;
    margin-bottom: .85em;
}

.menu>div .link--wrapper a {
    font-size: 2em;
    font-weight: bold;
}

.menu>nav {
    width: 100%;
    max-height: 565px;
    padding-block-start: 1.5em;
    overflow: auto;
    margin-bottom: 1.25em;
}

.menu>nav ul {
    width: min(100%, 450px);
    margin: auto;
}

.menu>nav ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .65em;
}

.menu>nav ul li:first-of-type {
    width: 100%;
}

.menu>nav ul li:not(:first-of-type) {
    gap: 1em;
    padding-inline-end: .8em;
}

.menu>nav ul li:has(> a.active) {
    background: rgba(224, 224, 224, 1);
    border-radius: 1em;
    box-shadow: 0 4px 30px rgb(209, 209, 209, .1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(224, 224, 224, 0.3);
}

.menu>nav ul li a {
    display: flex;
    align-items: center;
    gap: 1.275em;
    width: calc(100% - 23px);
    color: #121212;
    text-transform: capitalize;
    font-weight: 600;
    padding: 1em 1.365em;
    padding-inline-end: 0;
    border-radius: 1em 0 0 1em;
}

.menu>nav ul li:first-of-type a {
    border-radius: 1em;
}

.menu>nav ul li .count {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: .911rem;
    height: 23px;
    width: 23px;
    color: #908b8b;
}

.menu>nav ul li .count::before {
    content: '';
    position: absolute;
    top: 0;
    background-color: hsl(0, 0%, 82%);
    height: inherit;
    width: inherit;
    z-index: -1;
    border-radius: .34em;
    box-shadow: 0 0 10px #d4d4d4;
}

.menu>nav ul li:has(> a.active) .count {
    color: #5d6063;
}

.menu>.modal-container {
    position: relative;
    left: 0;
    display: grid;
    align-items: center;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    column-gap: .855em;
    grid-template-columns: 85px minmax(150px, 3fr);
    grid-template-rows: 1fr;
    padding-inline-end: .2em;
    box-shadow: 0 4px 10px #d1d1d1;
    border: 1px solid #d4d4d4;
    border-radius: .85em;
}

.menu>.modal-container:has(:focus) {
    outline: 4px solid #8E7DBE;
    box-shadow: 0 0 14px #d1d1d1;
    transition: all 200ms linear;
}

.menu>.modal-container>button {
    display: flex;
    align-items: center;
    gap: .45em;
    justify-content: space-between;
    width: min(100%, 85px);
    background-color: rgba(218, 218, 218, 1);
    padding: 1.125em 1.365em;
    border-radius: 1em;
}

.menu>.modal-container>button::after {
    content: '▼';
    align-self: start;
    color: #121212;
    background-blend-mode: darken;
}

.menu>.modal-container .colors-list {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85px;
    height: 0;
    opacity: 0;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(20px, 1fr));
    gap: 1.125em;
    margin: auto;

}

.menu>.modal-container .colors-list.open {
    display: grid;
    align-items: center;
    justify-content: center;
    opacity: 1;
    z-index: 1;
    width: 200px;
    height: 175px;
    max-height: fit-content;
    padding: 1em;
    bottom: -11.655em;
    border-radius: 1em;
    border: 1px solid #d4d4d4;
    box-shadow: 0 4px 10px #d1d1d1;
    transition: height 250ms ease-in-out,
        bottom 500ms cubic-bezier(0.4, 0, 0.2, 1),
        width 400ms linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 0.92 40.6%, 0.94 47.2%, 0.96 55%, 0.98 64%, 0.99 74.4%, 1 86.4%, 1 100%) 400ms;
}

.menu>.modal-container .colors-list>li {
    opacity: 0;
    visibility: hidden;
}

.menu>.modal-container .colors-list.open>li {
    opacity: 1;
    visibility: visible;
    justify-self: center;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: .455em;
    box-shadow: 0 0 2px #121212;
    transition: opacity 200ms cubic-bezier(0.39, 0.575, 0.565, 1) 600ms,
        visibility 0ms;
}

.menu>.modal-container form {
    width: 100%;
}

.menu>.modal-container form label {
    display: block;
    visibility: hidden;
    height: 0;
}

.menu>.modal-container form input {
    width: inherit;
    font-size: 1rem;
    border: none;
    padding: .85em 1em .85em .15em;
    background-color: #F3EFEE;
    color: #121212;
    border-radius: 0 .85em .85em 0;
}

.menu>.modal-container form input:focus {
    outline: transparent;
}

.menu>.modal-container form input::placeholder {
    font-size: .887rem;
}

/* Main styles */
.main {
    position: relative;
    background-color: #F9F5F4;
    text-align: left;
    padding: 3.5em 1.158em 1em;
    min-height: 100dvh;
    width: 100dvw;
}

.main .task-container>header {
    margin-top: .55em;
    margin-bottom: 2em;
}

.main .task-container>header h1 {
    display: inline-flex;
    align-items: center;
    font-size: 1.915rem;
    padding-inline: .444em;
    text-align: left;
}

.main .task-container .calendar,
.main .task-container .calendar>button {
    display: flex;
    justify-content: space-between;
}

.main .task-container .calendar {
    gap: .75em;
    overflow-x: scroll;
    margin-bottom: 2em;
    padding-bottom: .65em;
    margin-right: -1.5em;
}

.main .task-container .calendar>button {
    display: flex;
    flex-direction: column;
    place-items: center;
    background-color: transparent;
    color: #121212;
    flex: 0 0 60px;
    height: 68px;
    gap: .5em;
    padding: 0.75em 0.375em;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 0.5em;
    border: 1px solid #000;
    opacity: .5;
}

.main .task-container .calendar>button>* {
    font-weight: 600;
}

.main .task-container .calendar>button:last-of-type {
    margin-right: 1.65em;
}

.main .task-container .calendar>button.selected {
    background-color: #E6D9CB;
    opacity: 1;
    border-color: transparent;
}

.main .task-container .calendar>button .day {
    font-weight: 600;
    font-size: 0.75rem;
}

.main .task-container .calendar>button .date {
    font-weight: bold;
    font-size: 1.063rem;
}

.main .task-container>.task-section {
    width: 100%;
    max-height: calc(100dvh - 330px);
    overflow-x: auto;
}

.main .task-container>.task-section>.tasks {
    max-height: 35px;
    overflow: hidden;
    padding-inline: .3em;
    margin-bottom: 2.494em;
    transition: max-height 450ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.main .task-container>.task-section>.tasks.expand {
    max-height: 1000px;
}

.main .task-container>.task-section>.tasks .heading-container {
    position: relative;
    display: grid;
    grid-template-columns: 25px 2fr;
    cursor: pointer;
    align-items: center;
    column-gap: .563em;
    margin-bottom: 2em;
    padding-block-start: 0.187em;
}
.main .task-container>.task-section>.tasks .heading-container::after{
    position: absolute;
    left: 0;
    z-index: 1;
    content: '';
    background-color: rgba(18, 18, 18, .25);
    width: 100%;
    height: 1px;
    bottom: -.25em;
}
.main .task-container>.task-section>.tasks .heading-container .folder-icon {
    align-self: self-start;
    padding: .312em 0.187em;
}

.main .task-container>.task-section>.tasks .heading-container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.629em;
}

.main .task-container>.task-section>.tasks .heading-container header>.project-name {
    text-transform: capitalize;
    font-weight: bold;
    font-size: .936rem;
    text-wrap: nowrap;
    color: #413F3F;
    width: fit-content;
}

.main .task-container>.task-section>.tasks .heading-container header>.count {
    font-size: 0.899rem;
    font-weight: 600;
    color: #121212;
    /* padding-top: .188em; */
    text-align: left;
    margin-right: auto;
    opacity: .5;
}
.main .task-container>.task-section>.tasks .heading-container header>div{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 22px;
}
.main .task-container>.task-section>.tasks .heading-container header>div .dropdown-icon {
    rotate: 0deg;
    width: 13px;
    height: 16px;
    justify-self: right;
    transition: rotate 300ms cubic-bezier(0.45, 0.05, 0.55, 0.95) 75ms;
}

.main .task-container>.task-section>.tasks.expand .heading-container header>div .dropdown-icon {
    rotate: 180deg;
}

.main .task-container>.task-section>.tasks .empty-task {
    text-align: center;
    font-weight: 600;
    padding: 1em 0;
}

.main .task-container>.task-section>.tasks .task-card {
    margin-bottom: 1.25em;
}
.main .task-container>.task-section>.tasks .task-card:last-of-type {
    margin-bottom: 0;
}

.main .task-container>.task-section>.tasks .task-wrapper .title::first-letter,
.main .task-container>.task-section>.tasks .info-section .notes::first-letter,
.main .task-container>.task-section>.tasks .info-section .description::first-letter {
    text-transform: capitalize;
}

.main .task-container>.task-section>.tasks .task-card .task-wrapper {
    position: relative;
    display: grid;
    /* background-color: #F3EFEE; */
    font-size: inherit;
    width: 100%;
    /* padding: .725em .62em .725em 1em; */
    grid-template-columns: 25px minmax(145px, 3fr) 25px;
    grid-template-rows: repeat(2, minmax(25px, 1fr));
    align-items: center;
    column-gap: 0.544em;
    border-radius: 1.2em;
    margin-bottom: 1em;
    /* border-bottom: 1px solid red; */
    /* box-shadow: 0px 1px 3px #d1d1d1; */
}
.main .task-container>.task-section>.tasks .task-card .task-wrapper:last-of-type {
    margin-bottom: .45em;
}

.main .task-container>.task-section>.tasks .task-card .task-wrapper>* {
    align-self: start;
}
.main .task-container>.task-section>.tasks .task-card .task-wrapper form{
    grid-row: span 2;
}
.main .task-container>.task-section>.tasks .task-card .task-wrapper label {
    display: block;
    height: 25px;
    width: 25px;
    padding: 0.249em 0;
}

.main .task-container>.task-section>.tasks .task-card .task-wrapper label:disabled {
    pointer-events: none;
}

.main .task-container>.task-section>.tasks .task-card .task-wrapper label::before {
    --_square-url: url(assets/square.svg);
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-image: var(--_square-url);
    background-repeat: no-repeat;
    background-size: 20px;
}

.main .task-container>.task-section>.tasks .task-card .task-wrapper label.priority-medium::before {
    --_square-url: url(assets/square-orange.svg);
}

.main .task-container>.task-section>.tasks .task-card .task-wrapper label.priority-high::before {
    --_square-url: url(assets/square-red.svg);
}

.main .task-container>.task-section>.tasks .task-card .task-wrapper label:has(:checked):before,
.main .task-container>.task-section>.tasks .task-card .task-wrapper label:has(:disabled):before {
    --_square-url: url(assets/checked.svg);
}

.main .task-container>.task-section>.tasks .task-card .task-wrapper input {
    appearance: none;
    -webkit-appearance: none;
}

.main .task-container>.task-section>.tasks .task-card .task-wrapper .task-info {
    cursor: pointer;
}

.main .task-container>.task-section>.tasks .task-card .task-wrapper .task-info:has(.strike) {
    pointer-events: none;
}

.main .task-container>.task-section>.tasks .task-card .task-wrapper .title {
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #413F3F;
    overflow: hidden;
    font-size: 1.053rem;
    font-weight: 400;
    transition: margin 450ms cubic-bezier(0.86, 0, 0.07, 1);
}

.main .task-container>.task-section>.tasks .task-card .task-wrapper .title .strike {
    color: #B5B5BA;
}

.main .task-container>.task-section>.tasks .task-card .task-wrapper>button {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: right;
    font-size: 1.115rem;
    color: #5d6063;
    border-radius: .45em;
    padding: .155em;
}

.main .task-container>.task-section>.tasks .task-card .task-wrapper button:focus {
    background-color: #ebebeb;
    border-radius: .55em;
    transition: all 200ms linear;
}
.main .task-container>.task-section>.tasks .task-card .task-wrapper .due-date{
    display: flex;
    align-items: center;
    align-self: center;
    grid-column: 2 / span 2;
    font-size: .885rem;
    font-weight: 600;
    gap: .4em;
}
/* TODO: delete css */
.main .task-container>.task-section>.tasks .task-card>.info-container {
    padding: .75em 2.188em;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0ms var(--_visibility-delay, 300ms),
        opacity 450ms linear(0 0%, 0.35 63.31%, 1 100%) var(--_op-delay, 0ms);
}

.main .task-container>.task-section>.tasks .task-card.expand>.info-container {
    --_visibility-delay: 0ms;
    --_op-delay: 75ms;
    visibility: visible;
    opacity: 1;
    height: fit-content;
}

.main .task-container>.task-section>.tasks .task-card .info-container .due-date {
    display: inline-flex;
    align-items: center;
    gap: .35em;
    font-size: .888rem;
    font-weight: bold;
}

.main .task-container>.task-section .info-container>.info-section:first-of-type {
    margin-top: .75em;
    margin-bottom: .15em;
}

.main .task-container>.task-section .info-container>.info-section {
    display: grid;
    grid-template-columns: 27px 1fr;
    gap: .35em;
    align-items: center;
    padding-inline: .65em;
}

.main .task-container>.task-section .info-container>.info-section svg {
    display: block;
    align-self: flex-start;
    margin-top: .1em;
    color: #222222;
}

.main .task-container>.task-section .info-container>.info-section p {
    padding-left: .55em;
    margin-bottom: 0;
}

.main .task-container>.task-section .add-task-btn {
    display: flex;
    align-items: center;
    gap: .844em;
    font-size: 1.115rem;
    color: #121212;
}

.main>.dropdown-task {
    position: absolute;
    background-color: #F4F4F4;
    bottom: -100%;
    left: calc((100dvw - var(--_dp-width)) / 2);
    width: 0;
    height: 0;
    z-index: 250;
    overflow: hidden;
    border-radius: .5em;
    transition: bottom 350ms ease-in-out;
}

.main>.dropdown-task.open {
    --_dp-width: calc(100dvw - 1.115em);
    bottom: calc(1.115em / 2);
    width: var(--_dp-width);
    height: fit-content;
    padding: .885em 1.115em;

}

.main>.dropdown-task button {
    visibility: hidden;
}

.main>.dropdown-task.open button {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-block: .35em;
    text-transform: capitalize;
    gap: 1.155em;
    font-size: 1.115rem;
    font-weight: 500;
    color: #222222;
    width: 100%;
    visibility: visible;
}

.main>.dropdown-task.open button:focus {
    background-color: #e9e9e9;
    border-radius: .25em;
}

.main>.dropdown-task.open>button:first-of-type {
    margin-bottom: .85em;
}

.main>.dropdown-task button svg {
    color: #5d6063;
    stroke-width: 2.85;
}

.main .form-container {
    --trs-delay: 600ms;
    position: fixed;
    bottom: 1.5em;
    padding: 1em;
    left: 0;
    width: 100%;
    z-index: 150;
    transition: bottom 350ms ease-in-out;
}

.main .form-container:has(> .task-form.collapse) {
    background-color: rgba(249, 245, 244, .35);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    bottom: 0;
    overflow: hidden;
    padding-block-start: .35em;
}

.main .form-container.hide {
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0ms 100ms, opacity 250ms linear;
}

.main .task-form {
    --mah-delay: var(--trs-delay);
    max-height: 600px;
    width: 100%;
    margin: 0 auto;
    transition: max-height 300ms linear var(--mah-delay, 0ms),
        width 300ms cubic-bezier(1, -0.51, 0, 1.16) var(--wdh-delay, 0ms);
}

.main .task-form .bg-grey {
    background-color: #e9e9e9;
}

.main .task-form>div:not(:first-of-type),
.main .task-form>textarea {
    opacity: 1;
    visibility: visible;
    transition: opacity 200ms linear var(--trs-delay, 0ms), visibility 0ms;
}

.main .task-form input:not([type='radio']),
.main .task-form label,
.main .task-form textarea {
    width: 100%;
    font-size: 1rem;
}

.main .task-form textarea,
.main .task-form input:not([type='radio']),
.main .task-form select {
    color: #413F3F;
    border-radius: .85em;
}

.main .task-form textarea,
.main .task-form input:not([type='radio']) {
    padding-inline: 1.115em;
}

.main .task-form>label {
    visibility: hidden;
    height: 0;
}

.main .task-form fieldset,
.main .task-form input:not([type='radio']) {
    border: 1px solid transparent;
    background-color: inherit;
}

.main .task-form>div:not(:last-of-type) {
    text-align: left;
    border-radius: 1em;
    padding: .65em .6em;
    margin-bottom: 1em;
    box-shadow: 0 4px 10px #d1d1d1;
}

.main .task-form>div.input-container {
    display: grid;
    grid-template-columns: 21px 3fr 1fr;
    grid-template-rows: 1fr;
    column-gap: .855em;
    width: 100%;
    padding: .355em .55em;
    border-radius: 1.125em;
    align-items: center;
    transition: border-radius 600ms linear 200ms;
}

.main .task-form>div.input-container label {
    visibility: hidden;
    height: 0;
    width: 0;
}

.main .task-form>div.input-container svg {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
}

.main .task-form>div.input-container input {
    padding: 0;
    height: 45px;
    padding: .5em 0;

    border-radius: 0;
    grid-column: 2 / 3;
    grid-row: 1 / 1;
}

.main .task-form>div.input-container input:focus-visible {
    outline: transparent;
}

.main .task-form>div.input-container select {
    background-color: #ebebeb;
    font-size: .915rem;
    padding: .65em .85em;
    font-weight: 600;
    border: 1px solid #d1d1d1;
    grid-column: 3 / 4;
    grid-row: 1 / 1;
    box-shadow: 0 4px 15px #d1d1d1;
}

.main .task-form>div.input-container option::first-letter {
    text-transform: uppercase;
}

.main .task-form .dueDate-container>div {
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.main .task-form .dueDate-container>div:first-of-type {
    margin-bottom: .765em;
}

.main .task-form .dueDate-container>div label {
    padding-inline-start: .5em;
}

.main .task-form .dueDate-container>div input {
    padding-block: .685em;
    font-size: .923rem;
    background-color: #F9F5F4;
    box-shadow: 0 0 10px #d1d1d1;
    width: min(100%, 185px);
}

.main .task-form .dueDate-container>div input::placeholder {
    color: #908b8b;
}

.main .task-form fieldset legend {
    padding-inline-start: .5em;
    margin-bottom: .725em;
}

.main .task-form fieldset>div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: .65em;
    align-items: center;
    justify-content: space-between;
}

.main .task-form fieldset>div label {
    background-color: #F3EFEE;
    position: relative;
    text-align: center;
    height: fit-content;
    padding: .5em 1em;
    box-shadow: 0 4px 10px #d4d4d4;
    border-radius: .65em;
}

.main .task-form fieldset>div label:has(:checked) {
    background-color: #b8b8b8;
}

.main .task-form fieldset>div label:has(:focus) {
    outline: 2px solid #121212;
}

.main .task-form fieldset>div input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
}

.main .task-form textarea {
    background-color: rgba(236, 220, 191, .35);
    height: 175px;
    border: 1px solid transparent;
    padding-block: 1.15em;
    box-shadow: 0 4px 10px #d4d4d4;
    margin-bottom: 1.5em;
}

.main .task-form textarea::placeholder {
    color: rgba(222, 183, 64, 1);
}

.main .task-form .btn-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: .535em;
    gap: 1em;
}

.main .task-form .btn-container button {
    font-size: 1.125em;
    font-weight: 500;
    width: min(100%, 225px);
    padding: .64em 1.167em;
    border-radius: .65em;
}

.main .task-form .btn-container button[type='button'] {
    text-transform: capitalize;
    background-color: rgba(249, 56, 39, .1);
    color: rgb(249, 56, 39);

}

.main .task-form .btn-container button[type='submit'] {
    background-color: #ebebeb;
    color: #222222;
}

.main .task-form.collapse {
    --wdh-delay: var(--trs-delay);
    --mah-delay: 0ms;
    max-height: 55px;
    width: 65%;
}

.main .task-form.collapse .input-container {
    display: block;
    text-align: left;
    width: 100%;
    background-color: #F3EFEE;
    padding: .855em 1.385em;
    border-radius: 1.6em;
    border: 1px solid #d4d4d4;
    box-shadow: 0 0 8px #d4d4d4;
}


.main .task-form.collapse>div:not(:first-of-type),
.main .task-form.collapse>textarea {
    opacity: 0;
    visibility: hidden;
}