#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  height: inherit;
}
#root:has(.intro-container) > .main{
    display: none;
}
.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
  padding: 1.5em;
  background-image: url(assets/intro.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.intro-container > header {
  padding: 6em;
  padding-inline: .5em;
}
.intro-container > header h1{
  font-size: 2.25rem;
}
.intro-container >  form {
  margin-right: -1.5em;
}
.intro-container> form fieldset{
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  border: transparent;
  padding-block-end: .85em;
  margin-bottom: 2.125em;
}

.intro-container >  form legend {
  color: var(--brown-color);
  font-size: .75rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 1.35em;
  padding-inline: 1.35em;
}
.intro-container> form .label-wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
  column-gap: 1em;
  row-gap: .75em;
  max-width: 300px;
  height: fit-content;
  text-overflow: ellipsis;
}

.intro-container> form label{
  background-color: #F3EFEE;
  font-size: 1.06rem;
  padding: 0.706em 1.176em;
  text-transform: capitalize;
  border-radius: 0.706em;
  text-wrap: nowrap;
}
.intro-container> form input[type=radio] {
  appearance: none;
  -webkit-appearance: none;
}
.intro-container > form button {
  background-color: #393433;
  font-size: 1.125rem;
  border-radius: 0.667em;
  width: 100%;
  padding: 0.778em 1.167em;
  margin-left: -1.5em;
  margin-bottom: .5em;
}
.menu-btn {
  display: flex;
  position: relative;
  z-index: 100;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 35px;
  height: fit-content;
  padding: 0;
}

.line {
  fill: none;
  stroke: #D0D6F9;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.menu-btn.open .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.menu-btn.open .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.menu-btn.open .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}