#root {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  height: inherit;
}

#root:has(.task-form) .todo-section,
#root:has(.menu-mobile--open) .todo-section {
  position: fixed;
  width: 100%;
}

.intro-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
  padding: 1.5em;

}

.intro-container::before {
  content: '';
  position: absolute;
  z-index: -100;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url(assets/intro.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.intro-container>header {
  padding: 6em;
  padding-inline: .5em;
}

.intro-container>header h1 {
  font-size: 2.25rem;
}

.intro-container>form {
  margin-right: -1.5em;
}

.intro-container>form fieldset {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  border: transparent;
  padding-block-end: .85em;
  margin-bottom: 2.125em;
}

.intro-container>form legend {
  color: var(--brown-color);
  font-size: .75rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 1.35em;
  padding-inline: 1.35em;
}

.intro-container>form .label-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
  column-gap: 1em;
  row-gap: .75em;
  max-width: 300px;
  height: fit-content;
  text-overflow: ellipsis;
}

.intro-container>form label {
  background-color: #F3EFEE;
  font-size: 1.06rem;
  padding: 0.706em 1.176em;
  text-transform: capitalize;
  border-radius: 0.706em;
  text-wrap: nowrap;
  font-weight: 600;
  border: 2px solid transparent;
  transition: all .2s ease-in-out;

}

.intro-container>form label:has(> input[type=radio]:checked) {
  border-color: rgb(84, 58, 20);
  background-color: #E6D9CB;
}

.intro-container>form input[type=radio] {
  appearance: none;
  -webkit-appearance: none;
}

.intro-container>form button {
  border: transparent;
  background-color: #393433;
  font-size: 1.125rem;
  border-radius: 0.667em;
  width: 100%;
  padding: 0.778em 1.167em;
  margin-left: -1.5em;
}

.menu {
  text-align: left;
}

.menu-mobile::before {
  content: '';
  position: absolute;
  background-color: var(--bg-color, transparent);
  z-index: 1;
  transition: background-color 400ms linear;

}

.menu-mobile--open::before {
  --bg-color: rgba(52, 49, 49, .25);
  width: 100dvw;
  height: 100dvh;
}

.menu-mobile {
  position: relative;
  max-width: 285px;
}

.menu-btn {
  display: flex;
  position: absolute;
  margin-left: auto;
  top: 1.5em;
  left: 1.5em;
  z-index: 99;
  background-color: transparent;
  border: none;
  height: fit-content;
  padding: 0;
  margin-bottom: 1em;
}


.line {
  fill: none;
  stroke: #121212;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.menu-btn.open .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.menu-btn.open .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.menu-btn.open .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.menu-mobile>div {
  position: absolute;
  height: 100dvh;
  background-color: rgb(253, 250, 246);
  top: 0;
  left: -16em;
  overflow: hidden;
  z-index: 45;
  padding: 2em 1.5em;
  width: 255px;
  transition: left 400ms ease-in-out;
}

.menu-mobile--open>div {
  left: 0;
}

.menu>div .project-link--wrapper {
  padding-block-start: 2.5em;
  margin-bottom: .85em;
}

.menu>div .project-link--wrapper a {
  font-size: 2em;
  font-weight: bold;
}

.menu>div nav {
  padding: .25em;
  margin-bottom: 1.65em;
}

.menu>div nav ul li a {
  display: flex;
  align-items: center;
  background-color: var(--link-active, transparent);
  gap: 1em;
  width: 100%;
  text-transform: capitalize;
  font-weight: 600;
  padding: .45em .85em;
  transition: background-color 200ms linear;
}

.menu>div nav ul li a.active {
  --link-active: #F3EFEE;
  border-radius: 0.706em;
}

.menu>div .add-btn {
  display: flex;
  place-items: center;
  gap: 1em;
  background-color: #393433;
  width: 100%;
  border-radius: 0.703em;
  padding: 0.778em 1.167em;
  letter-spacing: 1;
}


.main {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #F9F5F4;
  min-height: 100dvh;
  overflow: hidden;
}

.main>.todo-section {
  text-align: left;
  padding: 3.5em 1.375em;
  margin-bottom: .438em;

}

.main>.todo-section>header {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.main>.todo-section .calendar {
  margin-bottom: 2em;
}

.main>.todo-section>header h1 {
  font-size: 2.25rem;
  padding-inline: .444em;
  text-align: left;
}

.main>.todo-section .calendar,
.main>.todo-section .calendar>button {
  display: flex;
  justify-content: space-between;
}

.main>.todo-section .calendar {
  gap: .75em;
  overflow-x: scroll;
  padding-bottom: .65em;
  margin-right: -1.5em;
}

.main>.todo-section .calendar>button {
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: transparent;
  color: #121212;
  flex: 0 0 60px;
  height: 68px;
  gap: .5em;
  padding: 0.75em 0.375em;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  border-radius: 0.5em;
  border: 1px solid #000;
  opacity: .5;
}

.main>.todo-section .calendar>button.today {
  background-color: #E6D9CB;
  opacity: .8;
  border-color: transparent;
}

.main>.todo-section .calendar>button .day {
  font-weight: 600;
  font-size: 0.75rem;
}

.main>.todo-section .calendar>button .date {
  font-weight: bold;
  font-size: 1.063rem;
}

.main>.todo-section>section.tasks header .project-name {
  text-transform: uppercase;
  font-weight: 600;
  font-size: .75rem;
  padding: 1.333em;
  color: #D1A28B;
}
.main>.todo-section>section.tasks.project header .project-name {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 2rem;
  padding: .444em;
  margin-bottom: .444em;
  color: #121212;
}
.main>.todo-section>section .empty-task {
  text-align: center;
  font-weight: 600;
  padding: 1.85em 0;
}

.main>.todo-section>section .task-card {
  background-color: #F3EFEE;
  -webkit-box-shadow: 0 0 6px #9F9F9F;
  box-shadow: 0 0 6px #9F9F9F;
  padding: 1em;
  border-radius: .706em;
  margin-bottom: 1em;
  max-height: 90px;
  overflow: hidden;
  transition: max-height .55s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.main>.todo-section>section .task-card.open {
  height: fit-content;
  max-height: 350px;
}

.main>.todo-section>section .task-wrapper .title::first-letter,
.main>.todo-section>section .info-section .notes::first-letter,
.main>.todo-section>section .info-section .description::first-letter {
  text-transform: capitalize;
}

.main>.todo-section>section .task-card .task-wrapper {
  display: grid;
  grid-template-columns: 25px 1fr 25px;
  grid-template-rows: repeat(1, 1fr);
  align-items: center;
  column-gap: 1.15em;
  font-size: inherit;
}


.main>.todo-section>section .task-card .task-wrapper .task-info {
  cursor: pointer;
  margin-top: .15em;
}

.main>.todo-section>section .task-card .task-wrapper .title {
  font-size: 1.073rem;
  font-weight: 500;
  margin: 0 0 .35em 0;
  transition: margin 450ms cubic-bezier(0.86, 0, 0.07, 1);
}

.main>.todo-section>section .task-card.open .task-wrapper .title {
  margin: .65em 0;
}

.main>.todo-section>section .task-card .task-wrapper .due-date {
  display: inline-flex;
  align-items: center;
  gap: .35em;
  font-size: .85rem;
  font-weight: bold;
}

.main>.todo-section>section .task-card .task-wrapper>.options-btn {
  align-self: flex-start;
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 3.25px);
  gap: 0.25em;
  margin-left: auto;
  margin-top: .35em;
}


.main>.todo-section>section .task-card>.info-container {
  padding: .75em 2.188em;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0ms var(--_visibility-delay, 100ms),
    opacity 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955) var(--_opacity-delay, 150ms);
}

.main>.todo-section>section .task-card.open>.info-container {
  --_opacity-delay: 0ms;
  --_visibility-delay: 0ms;
  visibility: visible;
  opacity: 1;
  height: fit-content;
  position: static;
}

.main>.todo-section .info-container>.info-section:first-of-type {
  border-top: 2px solid #BCBCC3;
  padding-top: .45em;
}

.main>.todo-section .info-container>.info-section {
  padding-inline: .65em;
}

.main>.todo-section .info-container>.info-section p {
  padding-left: .55em;
}

.main>.todo-section .info-container .notes {
  margin-bottom: .75em;
}

.main>.todo-section .info-container .description {
  margin-bottom: 0;
}


.main .todo-btn-wrapper {
  background-color:rgba(253, 250, 246, .35);
  backdrop-filter: blur(3px);
  position: fixed;
  width: 100%;
  bottom: 0em;
  padding-bottom: 1.375em;
  padding-top: .25em;
  z-index: 200;
}
.main .todo-btn-wrapper:has(> .add-btn.hidden){
  z-index: 0;
  padding-top: 0;
}
.main .add-btn {
  --todo-btn-width: calc(calc(100% - 1.375em * 2));
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: var(--todo-btn-width);
  font-size: 1.125rem;
  text-align: center;
  background-color: #393433;
  color: #F9F5F4;
  padding: 0.75em 0.375em;
  margin: 0 auto;
  border-radius: .735em;
  opacity: 1;
  visibility: visible;
  transition: visibility 0s var(--vis-delay, 0ms), opacity 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275) var(--trs-delay, 350ms);
}

.main .add-btn.hidden {
  --trs-delay: 0ms;
  --vis-delay: 350ms;
  opacity: 0;
  visibility: hidden;
}

.main .add-btn>.icon {
  rotate: 0deg;
  transition: rotate 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.main .add-btn>.close-icon {
  rotate: -135deg;
}

.main .task-form-container {
  position: absolute;
  height: 100dvh;
  top: 0;
  width: 100%;
  background-color: rgb(166, 174, 191, .2);
  z-index: 120;
}

.main .task-form {
  --task-form-width: calc(calc(100% - 1.375em * 2));
  position: absolute;
  background-color: #F9F5F4;
  width: var(--task-form-width);
  max-height: 525px;
  overflow-y: scroll;
  margin: auto;
  padding: 2em 1.5em;
  left: calc(calc(100% - var(--task-form-width)) / 2);
  bottom: 5.35em;
  border-radius: .735em;
  z-index: 100;
  box-shadow: 0px 0px 30px #9AA6B2;
}

.main .task-form select,
.main .task-form label,
.main .task-form input:not([type=radio]),
.main .task-form textarea {
  display: block;
  width: 100%;

}

.main .task-form label,
.main .task-form input,
.main .task-form textarea,
.main .task-form select {
  color: #222222;
}

.main .task-form option,
.main .task-form select,
.main .task-form input::placeholder,
.main .task-form textarea::placeholder {

  text-transform: capitalize;
}

.main .task-form input,
.main .task-form select,
.main .task-form textarea {
  background-color: #F3EFEE;
  border-radius: 0.75em;
  margin-bottom: 1.15em;
}

.main .task-form label,
.main .task-form legend {
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  font-size: .75rem;
  padding: 1em;

}

.main .task-form select,
.main .task-form input {
  border: 1px solid #ACACAC;
  padding: 1.063em 1.313em;
}

.main .task-form input[type=date] {
  text-transform: uppercase;
  color: #222222;
  color-scheme: light;
}

.main .task-form fieldset {
  border: 1px solid #ACACAC;
  border-radius: .75em;
  margin-bottom: 1em;
}

.main .task-form fieldset>.radio-wrapper,
.main .task-form fieldset>.radio-wrapper>div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: .35em;
}

.main .task-form fieldset>.radio-wrapper {
  padding: .85em .5em;
}

.main .task-form fieldset>.radio-wrapper label,
.main .task-form fieldset>.radio-wrapper input {
  padding: 0;
  margin-bottom: 0;
  font-size: .85rem;
}

.main .task-form textarea {
  height: 150px;
  resize: none;
  padding: .85em 1.113em;
}

.main .task-form textarea:last-of-type {
  height: 80px;
  margin-bottom: 2em;
}
.main .task-form .add-btn{
  width: 100%;
}
.modal-wrapper {
  display: flex;
  place-items: center;
  position: fixed;
  top: 0;
  height: 100dvh;
  width: 100%;
  min-width: 320px;
  z-index: 100;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(50px);
  background: rgba(255, 255, 255, 0.04);
}

.modal {
  position: relative;
  --modal-width: min(90%, 450px);
  background-color: rgb(253, 250, 246);
  width: var(--modal-width);
  padding: 2em 1.5em;
  margin: 0 auto;
  border-radius: 0.703em;
  -webkit-box-shadow: 0 0 10px #98a3ae;
  box-shadow: 0 0 10px #9AA6B2;
}

.modal .close-btn{
  position: absolute;
  right: 0;
  top: -1.5em;
  background-color: transparent;
  font-size: 2em;
}
.modal form {
  text-align: left;
  padding: .25em;
}

.modal form label,
.modal form div input,
.modal form div input::placeholder {
  color: #222222;
  font-size: 1rem;
}

.modal form label {
  display: block;
  font-weight: 600;
  width: 100%;
  padding-left: .85em;
  margin-bottom: .45em;
}

.modal form div {
  display: flex;
  gap: 0.75em;
}

.modal form div input {
  background-color: #F3EFEE;
  border-radius: 0.703em;
  padding: 0.875em 1.313em;
  border-color: transparent;
  width: 100%;
  border: 1px solid #ACACAC;
}

.modal form div button {
  background-color: #393433;
  border-radius: 0.703em;
  padding: 0.875em 1.313em;
  font-weight: 400;
}