:root {
  --brown-color: #D1A28B;
  font-family: "Inter",system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #121212;
  background-color: rgb(253, 250, 246);
  scroll-behavior: auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
  padding: unset;
  margin: unset;
}
body{
  min-width: 320px;
  min-height: 100dvh;
}

img {
  object-fit: fill;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
  transition: color .25s ease-in-out;
}

a:hover {
  color:var(--brown-color);
}

li {
  list-style: none;
}
input,
button,
textarea,
label,
select,
input::placeholder {
  font-family: inherit;
}
a,
input,
textarea,
label,
select,
img{
  display: block;
}

button{
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}
button:disabled{
  color: rgba(179, 179, 179, .8) !important;
  cursor:none;
}

.fw-500{
  font-weight: 500;
}
